@media (min-width:385px) and (max-width: 490px) {
    /*  Recipes  */
    .recipes__header{
        padding: 2rem 0;
    }
    .recipe__header-content {
        padding-left: 1.5rem;
        width: 60%;
        text-align: unset;
        align-items: unset;
    }
    .recipes__description{
        font-size:17px;
    }
    .recipe__header-image{
        display: block;
    }
}
@media (min-width: 414px) {
    /*  Recipes  */
    .recipe-card__title{
        font-size: 1rem;
        height:49px;
    }
    .recipe-card__content{
        padding-block: .5rem;
        gap: .5rem;
    }
    /*.recipe-rating__icons{
        font-size:1.1rem;
    }
    .recipe-rating span{
        font-size:.9rem;
        transform:translateY(1px);
    }*/
}
@media (min-width: 490px) {
    /*  Hero  */
    .hero__content {
        padding-inline: 1.5rem;
    }
    .hero__author{
        justify-content: space-between;
        flex-direction: row;
        padding-bottom:.5rem;
    }
    .hero__title{
        font-size:1.8rem;
    }
    .hero__button{
        margin-top: 0;
        border-radius:15px;
        width: fit-content;
    }

    /*  Recipes  */
    .recipes__header{
        padding-inline: 1rem;
        margin-bottom:2rem;
    }
    .recipe__header-content {
        padding-left: 0;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .recipes__title{
        font-size: clamp(24px ,6vw, 40px);
    }
    .recipe__header-image{
        display: none;
    }
    .recipe-card{
        flex-direction: column;
        height:100%;
    }
    .recipe-card__content{
        padding: .8rem;
        gap: 0;
        justify-content: space-between;
        width: 100%;
        height: 130px;
    }
    .recipe-card__title{
        font-size: 1rem;
    }
    .recipe-card__image img{
        border-radius:0;
    }
    .recipe-card__image{
        width:100%;
        height: 230px;
    }
    /*.recipe-rating{
        margin-block:.2rem;
    }*/
    .recipe-card__favorite{
        font-size: 1.2rem;
        padding:.4rem .4rem .2rem;
    }
}
@media (min-width: 728px) {
    /*  Recipes  */
    .recipe-card__image {
        width: 100%;
        height: calc(100% - 125px);
    }
    .recipe-card__content{
        height:125px;
    }
    .recipe-card__content .recipe-meta{
        grid-template-columns: repeat(auto-fit, minmax(7px, 97px));
    }
}
@media (min-width: 860px) {
    /*  Hero  */
    .hero__badge{
        position: static;
        margin-bottom: 1.5rem;
    }
    .hero__item{
        margin:3.5rem 1.7rem;
        flex-direction:row;
        max-width:1240px;
    }
    .hero__content{
        width: 50%;
        display: flex;
        flex-direction: column;
        padding:1.9rem 2rem;
    }
    .hero__title{
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    .hero__description{
        display: block;
        margin-block:0;
    }
    .hero__image{
        height:unset;
        width:50%;
    }
    .hero__image img{
        width:100%;
    }
    .hero__button{
        /*width: 50%;*/
        margin-top:0;
        font-size:.8rem;
    }
    .hero__author{
        /*margin-block:1rem;*/
        margin-top:auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media (min-width: 1024px) {
    /*  Header  */
    .header__inner,.header__inner.visible{
        padding:.8rem 2.7rem;
        border-bottom: 2px solid #d9d9d9;
    }
    .header__nav,.header__nav.visible{
        position: relative;
        display:flex;
        justify-content: center;
    }
    .header__menu{
        gap: 1rem;
        justify-content: center;
        flex-direction:row;
    }
    .header__menu li{
        padding:0;
        width:fit-content;
        border: 0;
    }
    .header__menu li a{
        font-size:15px;
    }
    .header__menu li i{
        display: none;
    }
    .header__socials{
        display:flex;
    }
    .header__button{
        display:none;
    }
    .header__logo{
        font-size:22px;
    }

    /*  Hero  */
    .hero{
        margin-top: 87px;
    }
    .hero__content{
    }
    .hero__item{
        width: calc(100% - 2rem);
        position: static;
        max-width:1000px;
    }

    /*  Category  */
    .categories__list{
        max-width: 1246px;
    }

    /*  Offer  */
    .offer{
        margin: auto;
        max-width: 1230px;
        flex-direction: row;
    }
    .offer__content{
        width: 60%;
    }
    .offer__image{
        width: 40%;
    }
}